.box {
  width: 100%;
  height: 937px;
  background-color: #000;
  display: flex;
  z-index: 1111;
  align-items: center;
}

.box_1 {
  width: 10px;
  height: 10px;
  background-color: #fff;

  animation: Width 1s forwards;
}

.animation1 {
  animation: Height 1s forwards;
}

@keyframes Width {
  0% {
    width: 10px;
  }

  100% {
    width: 100%;
  }
}
@keyframes Height {
  0% {
    height: 10px;
  }

  100% {
    height: 937px;
  }
}

.box1 {
  width: 100%;
  height: 937px;
  background-color: #f00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.idx_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #303334;
  /* opacity: .4; */
  opacity: 0;
  z-index: 1;
  /* display: none; */
}
.idx_nav.act {
  animation: fadein 1s 2.3s forwards;
}
.idx_nav.on {
  /* display: none; */
  background: transparent;
  transition: all 3s;
}
.sp {
  background: url(../image/idx_spr.png);
}
.nav_sp {
  background: url(../image/nav_spr.png);
}
.btn_logo {
  background-position: 0 0;
  width: 217px;
  height: 68px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -34px;
  left: 60px;
}

.btn_yy {
  animation: hovers 5s infinite 0s both;
  background-position: -257px -23px;
  width: 160px;
  height: 34px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 155px;
}
.sdi-div .btn_yy {
  background-position: -257px -23px;
  width: 153px;
  height: 34px;
  display: block;
  position: absolute;
  top: 41px;
  margin-top: -17px;
  right: 155px;
}
.btn-sid {
  width: 50px;
  height: 30px;
  position: absolute;
  right: 60px;
  top: 50%;
  z-index: 10000 !important;
  border-radius: 50px;
  margin-top: -15px;
}

.draw {
  top: 50%;
  left: 50%;
  margin: 0 0 0 -25px;
}
.draw:before {
  content: "";
  top: -12px;
}
.draw:after {
  content: "";
  top: 12px;
}
.draw,
.draw::after,
.draw::before {
  width: 50px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
@keyframes hovers {
  0% {
    opacity: 1;

    transform: scale(1);
  }

  50% {
    opacity: 0.75;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.on .draw {
  background: transparent;
}

.on .draw:after {
  top: 0;
  transform: rotate(-45deg);
}

.on .draw:before {
  top: 0;
  transform: rotate(45deg);
}

.btn_logo.on {
  display: none !important;
}
.btn_yy.on {
  display: none !important;
}
.sdi-div {
  width: 100%;
  height: 937px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.sdi-div .btn_logo {
  background-position: 0 0;
  width: 199px;
  height: 82px;
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
}
.sdi-div .nav_list {
  width: 726px;
  height: 980px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(32, 32, 32, 0.91);
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sdi-div ul {
  width: 200px;
  position: absolute;
  top: 157px;
  left: 50%;
  margin-left: -100px;
}
.sdi-div ul li {
  margin: 0 auto 32px;
}
.sdi-div .nav_01 {
  width: 86px;
  height: 42px;
  background-position: -51px -132px;
}

.sdi-div .nav_02 {
  width: 47px;
  height: 20px;
  background-position: -74px -208px;
}
.sdi-div .nav_03 {
  width: 87px;
  height: 20px;
  background-position: -51px -259px;
}
.sdi-div .nav_04 {
  width: 183px;
  height: 20px;
  background-position: -18px -312px;
}
.sdi-div .nav_05 {
  width: 193px;
  height: 20px;
  background-position: -0px -364px;
}
.sdi-div .nav_06 {
  width: 193px;
  height: 20px;
  background-position: -0px -416px;
}
.sdi-div .nav_07 {
  width: 193px;
  height: 20px;
  background-position: -0px -468px;
}
.sdi-div .nav_08 {
  width: 193px;
  height: 20px;
  background-position: -0px -520px;
}
.sdi-div .nav_09 {
  width: 193px;
  height: 20px;
  background-position: -0px -572px;
}
.sdi-div .nav_10 {
  width: 117px;
  height: 20px;
  background-position: -39px -625px;
}
.sdi-div .nav_11 {
  width: 87px;
  height: 20px;
  background-position: -51px -677px;
}
.sdi-div .nav_12 {
  width: 110px;
  height: 20px;
  background-position: -40px -729px;
}
.sdi-div .nav_13 {
  width: 94px;
  height: 20px;
  background-position: -51px -766px;
}

.sdi-div ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  z-index: 11111;
}

.sdi-div ul li a:hover:after {
  transition: all 0.5s;
  width: 100%;
}
.sdi-div ul li a:after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #bbbbbb;
}

.directory {
  width: 100%;
  color: #a19891;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  min-width: 1200px;
  overflow: hidden;
  height: 937px;
  display: none;
}
.directory .sec_box .bg {
  transition-delay: 0.2s;
  width: 100%;
  height: 937px;
  position: absolute;
  left: 0;
  top: 0;
  animation: imgs 1s;
  transform: all 1s;
}
.directory .sec_box {
  position: relative;
  bottom: -80px;
  background: rgba(0, 0, 0, 1);
  width: 14.285%;
  height: 937px;
  float: left;
}
.directory .sec_box a {
  display: block;
  width: 100%;
  height: 937px;
  position: relative;
  /* z-index: 11111; */
}
.ready {
  display: block;
  /* animation: fadein 1s 3s forwards; */
}

.directory .sec_box.c1 .bg {
  background: url(../image/img_h1.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c2 .bg {
  background: url(../image/img_h2.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c3 .bg {
  background: url(../image/img_h3.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c4 .bg {
  background: url(../image/img_h4.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c5 .bg {
  background: url(../image/img_h5.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c6 .bg {
  background: url(../image/img_h6.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box.c7 .bg {
  background: url(../image/img_h7.png) no-repeat;
  /* background-position-x: 275px; */
}
.directory .sec_box u {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 937;
  left: 0;
  display: block;
  width: 100%;
  height: 937px;
}

@keyframes imgs {
  0% {
    background-position-x: 275px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes imgclick {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 275px;
  }
}

.directory .sec_box .bg u:hover {
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  z-index: 1111;
}
.dia-con {
  background: url(../picture/dialog.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 747px;
  height: 423px;
  display: none;
  z-index: 9999;
}
.dia-close {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(350px, -220px);
  display: none;
  z-index: 9999;
}

#_overlay_ {
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  position: absolute;
  height: 1100px;
  z-index: 9998;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  display: none;
}
