@charset "UTF-8";
.banner-btn,
.batch-coming,
.batch-ed,
.batch-ing,
.btn-bg,
.btn-bg-2,
.btn-bg-w140,
.btn-c2-bg,
.btn-c2-bg-gray,
.btn-change-page,
.btn-ckjlmd,
.btn-gray,
.btn-lottery,
.btn-nobang,
.btn-page-dw,
.btn-page-up,
.btn-qian,
.btn-qzone-share,
.btn-sczggz,
.btn-share,
.btn-sina-share,
.btn-yes,
.c2-item-bg,
.device .arrow-left,
.device .arrow-left.on,
.device .arrow-left:hover,
.device .arrow-right,
.device .arrow-right.on,
.device .arrow-right:hover,
.dia-bg-bottom,
.dia-bg-top,
.dia-close,
.dia-close1,
.dia-commtips-b,
.dia-commtips-t,
.dia-tit-1,
.dia-tit-2,
.dia-tit-3,
.dia-tit-4,
.dia-tit-5,
.dia-tit-6,
.dia-tit-7,
.dia1,
.dia1-bg,
.dia1 > a,
.diaAddress .btns a,
.diaAddress-tit,
.diaExchangeRule li:before,
.diaExchangeRule-tit,
.diaFirstRule li:before,
.diaFirstRule-tit,
.dia_comm_alert:after,
.dia_comm_alert:before,
.g-cont2 .item-list li .btns a,
.g-cont2 .item-list li .btns a.gray,
.g-cont2 .item-list li .item-bg,
.g-cont2 .item-list li.shortage .item-bg:after,
.g-cont3 .table-bar .page-bar a,
.g-cont3 table td .btn,
.g-cont3 table td .btn.btn-style2,
.g-cont3 table td .btn.btn-style3,
.girl,
.icon-btn-dian,
.icon-fang,
.icon-finish,
.icon-line,
.icon-mission,
.icon-more,
.icon-neccery,
.icon-news,
.icon-rule-arrow,
.icon-san,
.iocn-fang2,
.iocn-more,
.iocn-more2,
.line,
.link-notice-bar,
.lottery-bar.grey .lotterycontent_slight,
.lottery-bar.grey .lotterycontent_start,
.mission-box,
.mission-box .mis-points a,
.mission-box .mis-points a.tg-sns-qzone,
.mission-box .mis-points a.tg-sns-sina,
.mission-box .mis-points a:after,
.mission-box .mis-points a:before,
.mission-box.neccery .icon-mission,
.mission-box.news .icon-mission,
.mission-box.undo .icon-mission,
.mission-box::after,
.mission-more,
.new-line,
.new-ul .clo-2:after,
.news-bg,
.next-r,
.next-r-on,
.points,
.pre-l,
.pre-l-on,
.qq-btn,
.radio input:checked + i,
.radio-check,
.radio-circle,
.shortage-bg,
.sprite-img,
.swiper-button-next,
.swiper-button-prev,
.swiper-hover-next,
.swiper-hover-prev,
.tab-1-cont-t-1,
.tab-1-cont-t-2,
.tab-1-cont-t-3,
.tab-btn-sty1,
.tab-btn-sty2,
.tab-btn-sty3,
.tab-c-t-l,
.tab-c-t-r,
.tab-cont .time-bar li.coming > i,
.tab-cont .time-bar li.ing > i,
.tab-cont .time-bar li > i,
.tab-cont .time-box:before,
.tab-cont-bg-b,
.tab-cont-bg-t,
.tab-cont-bg2-b,
.tab-cont-bg2-t,
.tab-cont:after,
.tab-cont:before,
.tab-cont > h3:after,
.tab-cont > h3:before,
.tab-t-1,
.tab-t-1-on,
.tab-t-2,
.tab-t-2-on,
.tab-t-3,
.tab-t-3-on,
.tab-tit a.tab-t-1.on,
.tab-tit a.tab-t-2.on,
.tab-tit a.tab-t-3.on,
.table-tit,
.time-bar-t-line,
.tit-1,
.tit-2,
.tit-left,
.tit-right,
.title-top,
.wechat-btn,
.wechat-qr {
  background-image: url(../image/sprite-img1.png);
  background-size: 1639px 1634px;
  background-repeat: no-repeat;
}
.banner-btn {
  background-position: -440px -877px;
  width: 492px;
  height: 117px;
}
.batch-coming,
.tab-cont .time-bar li.coming > i {
  background-position: -1619px -779px;
  width: 19px;
  height: 19px;
}
.batch-ed,
.tab-cont .time-bar li > i {
  background-position: -1618px -629px;
  width: 19px;
  height: 19px;
}
.batch-ing,
.tab-cont .time-bar li.ing > i {
  background-position: -1607px -669px;
  width: 29px;
  height: 29px;
}
.btn-bg-2 {
  background-position: -504px -682px;
  width: 158px;
  height: 48px;
}
.btn-bg-w140,
.diaAddress .btns a {
  background-position: -504px -576px;
  width: 178px;
  height: 48px;
}
.btn-bg,
.mission-box .mis-points a {
  background-position: -937px -930px;
  width: 148px;
  height: 48px;
}
.btn-c2-bg-gray,
.g-cont2 .item-list li .btns a.gray {
  background-position: -1418px -726px;
  width: 198px;
  height: 48px;
}
.btn-c2-bg,
.g-cont2 .item-list li .btns a {
  background-position: -504px -470px;
  width: 223px;
  height: 48px;
}
.btn-change-page,
.g-cont3 .table-bar .page-bar a {
  background-position: -1468px -1136px;
  width: 84px;
  height: 30px;
}
.btn-ckjlmd {
  background-position: -1045px -1055px;
  width: 153px;
  height: 39px;
}
.btn-gray,
.lottery-bar.grey .lotterycontent_slight,
.lottery-bar.grey .lotterycontent_start {
  background-position: -1249px -669px;
  width: 164px;
  height: 189px;
}
.btn-lottery {
  background-position: -1477px -863px;
  width: 158px;
  height: 48px;
}
.btn-nobang {
  background-position: -675px -629px;
  width: 158px;
  height: 48px;
}
.btn-page-dw {
  background-position: -1523px -629px;
  width: 90px;
  height: 30px;
}
.btn-page-up {
  background-position: -1373px -1136px;
  width: 90px;
  height: 30px;
}
.btn-qian {
  background-position: -892px -1055px;
  width: 148px;
  height: 48px;
}
.btn-qzone-share,
.mission-box .mis-points a.tg-sns-qzone {
  background-position: -1090px -930px;
  width: 148px;
  height: 48px;
}
.btn-sczggz {
  background-position: -687px -576px;
  width: 178px;
  height: 48px;
}
.btn-share {
  background-position: -504px -629px;
  width: 166px;
  height: 48px;
}
.btn-sina-share,
.mission-box .mis-points a.tg-sns-sina {
  background-position: -1095px -877px;
  width: 148px;
  height: 48px;
}
.btn-yes {
  background-position: -1477px -916px;
  width: 158px;
  height: 48px;
}
.c2-item-bg,
.g-cont2 .item-list li .item-bg {
  background-position: -1249px -863px;
  width: 223px;
  height: 131px;
}
.dia-bg-bottom {
  background-position: -960px -1408px;
  width: 565px;
  height: 25px;
}
.dia-bg-top {
  background-position: 0 -1451px;
  width: 565px;
  height: 25px;
}
.dia-close {
  background-position: 0 -1584px;
  width: 50px;
  height: 50px;
}
.dia-close1,
.dia1 > a {
  background-position: -1198px -695px;
  width: 45px;
  height: 44px;
}
.dia-commtips-b,
.dia_comm_alert:after {
  background-position: 0 -1481px;
  width: 565px;
  height: 25px;
}
.dia-commtips-t,
.dia_comm_alert:before {
  background-position: -570px -1451px;
  width: 565px;
  height: 25px;
}
.dia-tit-1 {
  background-position: -1249px -1050px;
  width: 390px;
  height: 37px;
}
.dia-tit-2 {
  background-position: -654px -1177px;
  width: 475px;
  height: 58px;
}
.dia-tit-3 {
  background-position: 0 -1265px;
  width: 416px;
  height: 65px;
}
.dia-tit-4 {
  background-position: -480px -1408px;
  width: 475px;
  height: 37px;
}
.dia-tit-5 {
  background-position: -1249px -1092px;
  width: 369px;
  height: 39px;
}
.dia-tit-6 {
  background-position: -493px -1359px;
  width: 516px;
  height: 39px;
}
.dia-tit-7 {
  background-position: -1014px -1359px;
  width: 472px;
  height: 39px;
}
.dia1,
.dia1-bg {
  background-position: -1249px -545px;
  width: 269px;
  height: 119px;
}
.diaAddress-tit {
  background-position: 0 -1408px;
  width: 475px;
  height: 38px;
}
.diaExchangeRule-tit {
  background-position: 0 -1547px;
  width: 420px;
  height: 32px;
}
.diaFirstRule-tit {
  background-position: 0 -1511px;
  width: 469px;
  height: 31px;
}
.girl {
  background-position: 0 0;
  width: 499px;
  height: 771px;
}
.icon-btn-dian,
.mission-box .mis-points a:after,
.mission-box .mis-points a:before {
  background-position: -1631px -741px;
  width: 5px;
  height: 5px;
}
.icon-fang {
  background-position: -1607px -703px;
  width: 13px;
  height: 13px;
}
.icon-finish,
.mission-box.undo .icon-mission {
  background-position: -1523px -545px;
  width: 110px;
  height: 79px;
}
.icon-line,
.mission-box::after {
  background-position: -694px -735px;
  width: 125px;
  height: 6px;
}
.icon-mission {
  background-position: -1156px -511px;
  width: 74px;
  height: 74px;
}
.icon-more {
  background-position: -1106px -776px;
  width: 82px;
  height: 46px;
}
.icon-neccery,
.mission-box.neccery .icon-mission {
  background-position: -1156px -432px;
  width: 74px;
  height: 74px;
}
.icon-news,
.mission-box.news .icon-mission {
  background-position: -1156px -590px;
  width: 74px;
  height: 74px;
}
.diaExchangeRule li:before,
.diaFirstRule li:before,
.icon-rule-arrow {
  background-position: -1621px -726px;
  width: 10px;
  height: 10px;
}
.icon-san {
  background-position: -1621px -741px;
  width: 5px;
  height: 7px;
}
.iocn-fang2 {
  background-position: -1625px -703px;
  width: 13px;
  height: 13px;
}
.iocn-more {
  background-position: -892px -1108px;
  width: 82px;
  height: 46px;
}
.iocn-more2 {
  background-position: -1249px -1136px;
  width: 119px;
  height: 30px;
}
.line {
  background-position: -1618px -653px;
  width: 15px;
  height: 2px;
}
.link-notice-bar {
  background-position: 0 -1177px;
  width: 649px;
  height: 58px;
}
.mission-box {
  background-position: -504px 0;
  width: 384px;
  height: 465px;
}
.mission-more {
  background-position: -893px 0;
  width: 351px;
  height: 427px;
}
.new-line,
.new-ul .clo-2:after {
  background-position: -1249px -1171px;
  width: 290px;
  height: 1px;
}
.news-bg {
  background-position: 0 -776px;
  width: 435px;
  height: 274px;
}
.device .arrow-right.on,
.device .arrow-right:hover,
.next-r-on {
  background-position: -1603px -999px;
  width: 33px;
  height: 33px;
}
.device .arrow-right,
.next-r {
  background-position: -838px -629px;
  width: 33px;
  height: 33px;
}
.points {
  background-position: -1134px -1177px;
  width: 486px;
  height: 48px;
}
.device .arrow-left.on,
.device .arrow-left:hover,
.pre-l-on {
  background-position: -504px -735px;
  width: 33px;
  height: 33px;
}
.device .arrow-left,
.pre-l {
  background-position: -618px -735px;
  width: 33px;
  height: 33px;
}
.qq-btn {
  background-position: -504px -523px;
  width: 180px;
  height: 48px;
}
.radio input:checked + i,
.radio-check {
  background-position: -1586px -831px;
  width: 22px;
  height: 22px;
}
.radio-circle {
  background-position: -1559px -831px;
  width: 22px;
  height: 22px;
}
.g-cont2 .item-list li.shortage .item-bg:after,
.shortage-bg {
  background-position: -1418px -669px;
  width: 184px;
  height: 52px;
}
.swiper-button-next {
  background-position: -542px -735px;
  width: 33px;
  height: 33px;
}
.swiper-button-prev {
  background-position: -580px -735px;
  width: 33px;
  height: 33px;
}
.swiper-hover-next {
  background-position: -825px -682px;
  width: 33px;
  height: 33px;
}
.swiper-hover-prev {
  background-position: -656px -735px;
  width: 33px;
  height: 33px;
}
.tab-1-cont-t-1 {
  background-position: -1249px -999px;
  width: 349px;
  height: 46px;
}
.tab-1-cont-t-2 {
  background-position: -893px -695px;
  width: 300px;
  height: 47px;
}
.tab-1-cont-t-3 {
  background-position: -1418px -779px;
  width: 196px;
  height: 47px;
}
.g-cont3 table td .btn,
.tab-btn-sty1 {
  background-position: -937px -877px;
  width: 153px;
  height: 48px;
}
.g-cont3 table td .btn.btn-style2,
.tab-btn-sty2 {
  background-position: -667px -682px;
  width: 153px;
  height: 48px;
}
.g-cont3 table td .btn.btn-style3,
.tab-btn-sty3 {
  background-position: -732px -470px;
  width: 153px;
  height: 48px;
}
.tab-c-t-l,
.tab-cont > h3:before {
  background-position: -893px -747px;
  width: 109px;
  height: 19px;
}
.tab-c-t-r,
.tab-cont > h3:after {
  background-position: -1007px -747px;
  width: 109px;
  height: 19px;
}
.tab-cont-bg-b,
.tab-cont:after {
  background-position: 0 -1240px;
  width: 1200px;
  height: 20px;
}
.tab-cont-bg-t,
.tab-cont:before {
  background-position: -421px -1265px;
  width: 1200px;
  height: 19px;
}
.tab-cont-bg2-b {
  background-position: -421px -1289px;
  width: 1074px;
  height: 20px;
}
.tab-cont-bg2-t {
  background-position: 0 -1335px;
  width: 1074px;
  height: 19px;
}
.tab-t-1-on,
.tab-tit a.tab-t-1.on {
  background-position: -1249px 0;
  width: 390px;
  height: 104px;
}
.tab-t-1 {
  background-position: -497px -1055px;
  width: 390px;
  height: 104px;
}
.tab-t-2-on,
.tab-tit a.tab-t-2.on {
  background-position: -1249px -436px;
  width: 390px;
  height: 104px;
}
.tab-t-2 {
  background-position: -1249px -327px;
  width: 390px;
  height: 104px;
}
.tab-t-3-on,
.tab-tit a.tab-t-3.on {
  background-position: -1249px -218px;
  width: 390px;
  height: 104px;
}
.tab-t-3 {
  background-position: -1249px -109px;
  width: 390px;
  height: 104px;
}
.table-tit {
  background-position: 0 -1359px;
  width: 488px;
  height: 44px;
}
.tab-cont .time-box:before,
.time-bar-t-line {
  background-position: -421px -1314px;
  width: 1044px;
  height: 12px;
}
.tit-1 {
  background-position: 0 -1055px;
  width: 492px;
  height: 117px;
}
.tit-2 {
  background-position: -440px -776px;
  width: 661px;
  height: 96px;
}
.tit-left {
  background-position: -1418px -831px;
  width: 136px;
  height: 24px;
}
.tit-right {
  background-position: -1477px -969px;
  width: 127px;
  height: 24px;
}
.title-top {
  background-position: -440px -999px;
  width: 681px;
  height: 34px;
}
.wechat-btn {
  background-position: -689px -523px;
  width: 180px;
  height: 48px;
}
.wechat-qr {
  background-position: -893px -432px;
  width: 258px;
  height: 258px;
}
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, "\5b8b\4f53", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
b,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
td,
th,
ul {
  padding: 0;
}
dl,
ol,
ul {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
#afooter {
  background: #1c1c1c;
  text-align: center;
  width: 100%;
  position: absolute;
}
#afooter .wrap_ieg {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
#afooter p {
  color: #6e6e6e;
  line-height: 24px;
  font-size: 10px;
}
#afooter a {
  color: #6e6e6e;
  font-size: 12px;
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  pointer-events: none;
}
#_overlay_ {
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  position: absolute;
  height: 5180px;
  z-index: 9990;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  display: none;
}
#_overlay_,
.ost,
.ost_box,
body,
html {
  min-width: 1200px !important;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
* {
  outline: 0;
}
.page-nav {
  position: relative;
  min-width: 1200px;
  height: 76px;
  background: url(../image/bg-nav.jpg) no-repeat 50% 0;
  overflow: hidden;
  z-index: 9;
}
.nav {
  position: relative;
  width: 1200px;
  height: 76px;
  background: url(../image/bgs-nav1.jpg) no-repeat 50% 0;
  margin: 0 auto;
}
.logo {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 170px;
  height: 65px;
}
.nav-box {
  margin-left: 26%;
}
.nav-box a.nav-item {
  display: block;
  width: 231px;
  height: 76px;
  line-height: 76px;
  font-size: 16px;
  color: #000;
  text-align: center;
  float: left;
}
.nav-box a.clickOn-nav {
  background: url(../image/nav1-2.jpg) no-repeat;
  color: #fff;
}
.nav-box .nav-item span {
  color: #6baee7;
  padding-right: 5px;
}
.nav-box .nav-item.clickOn-nav span {
  color: #fff;
  padding-right: 5px;
}
.login-box {
  position: absolute;
  top: 0;
  left: 985px;
  display: block;
  height: 76px;
  width: 500px;
  text-align: left;
  line-height: 76px;
  font-size: 14px;
  color: #000;
}
.login-box a {
  color: #000;
}
.nav a:hover {
  text-decoration: none;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.g-wrap {
  position: relative;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 14px;
  color: #000;
  background-color: #f0f8fd;
  padding-bottom: 62px;
  overflow: hidden;
}
.g-wrap a {
  -webkit-transition: filter 0.3s, border 0.3s, color 0.3s;
  transition: filter 0.3s, border 0.3s, color 0.3s;
}
.g-wrap a:hover {
  text-decoration: none;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
.bg {
  width: 100%;
  position: absolute;
  top: 76px;
  left: 0;
  pointer-events: none;
  background: url(../image/bg1.jpg) no-repeat top center;
  height: 100%;
}
.points-row {
  margin-top: 1118px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.link-notice-bar {
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 0 auto;
}
.link-notice-bar a {
  display: block;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  height: 58px;
  line-height: 58px;
  width: 234px;
  margin: 0 auto;
}
.link-notice-bar a:hover {
  text-decoration: none;
}
.points {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
}
.points b {
  color: #ffe0ae;
  font-size: 30px;
}
.btn-bg,
.btn-bg-2,
.btn-qian,
.mission-box .mis-points a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  vertical-align: middle;
}
.tit-1-bar {
  margin: 20px auto 60px;
  position: relative;
  z-index: 2;
}
.tit-1-bar a {
  display: block;
  margin: 0 auto;
}
.mission {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.tips-li {
  position: relative;
  font-size: 18px;
  color: #5c6e94;
  text-align: center;
  margin: 50px 0 346px;
}
.mission-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  margin: 30px 8px 0;
  font-size: 14px;
}
.mission-box.mission-box1::after {
  background: 0 0;
}
.mission-box::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 155px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.mission-box .row {
  display: inline-block;
  vertical-align: middle;
}
.mission-box .row a,
.mission-box .row input {
  float: left;
}
.mission-box input {
  text-align: center;
  width: 148px;
  height: 50px;
  color: #303030;
  border: 1px solid #b9b9b9;
  line-height: 50px;
  margin-right: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}
.mission-box input::-webkit-input-placeholder {
  color: #303030;
  font-size: 16px;
}
.mission-box .num {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 10px 0 0;
}
.mission-box .img-box {
  width: 296px;
  height: 173px;
  line-height: 173px;
  margin: 26px auto 12px;
  overflow: hidden;
}
.mission-box .img-box img {
  width: 100%;
  vertical-align: middle;
}
.mission-box .img-box1 {
  margin-top: 110px;
}
.mission-box .mis-points {
  width: 100%;
  position: absolute;
  bottom: 45px;
}
.mission-box .mis-points p {
  color: #4ca7f1;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.mission-box .mis-points a {
  text-align: center;
  margin: 0 5px;
  color: #fff;
}
.mission-box .mis-points a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mission-box .mis-points a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.mission-box .icon-mission {
  position: absolute;
  top: 29px;
  left: 8px;
}
input {
  background: 0 0;
  outline: 0;
  border: 0;
}
.tit-2 {
  margin: 44px auto 14px;
  position: relative;
  z-index: 2;
}
.skip-mission {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.skip-mission img {
  width: 100%;
  height: 100%;
}
.dia-con {
  background: url(../image/dia-bg-middle.png) repeat-y;
  width: 565px;
  padding: 21px 0 34px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 14px;
}
.dia-con a:hover {
  text-decoration: none;
}
.dia-con .dia-bg-top {
  position: absolute;
  top: 0;
  left: 0;
}
.dia-con .dia-bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.dia-con .con h3 {
  margin: 10px auto 0;
}
.dia-con .con > a {
  display: block;
  margin: 0 auto;
}
.dia-con .con .btn-share {
  margin: 10px auto 10px;
}
.dia-con .radio {
  margin-top: 30px;
  margin-right: 183px;
}
.dia-con .radio span {
  margin-right: 60px;
}
.dia-con input {
  background-color: #e8e8e8;
  width: 284px;
  height: 30px;
}
.dia-con .row {
  margin: 30px auto 24px;
}
.dia-con .tips-p {
  margin: 0 68px 20px;
  color: #744b66;
}
.dia-con input {
  text-indent: 10px;
}
.dia-con .row2 span {
  margin-left: 30px;
}
.dia-con .row2 input {
  width: 146px;
}
.dia-con .row2 .btn-get-code {
  text-align: center;
  width: 130px;
  border: 1px solid #3e465d;
  height: 30px;
  line-height: 30px;
  color: #3e465d;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
  background-color: transparent;
  cursor: pointer;
}
.dia-con .btn-get-code {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.dia-qr-code {
  width: 347px;
  height: 346px;
  background: url(../image/dia-qrcode-bar.jpg) no-repeat center top;
  display: none;
  padding-top: 62px;
  box-sizing: border-box;
}
.dia-qr-code img {
  display: block;
  margin: 0 auto 0;
}
.dia-qr-code p {
  color: #262626;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
}
.dia-close {
  position: absolute;
  top: 0;
  right: -52px;
  display: block;
}
.radio {
  position: relative;
  text-align: center;
}
.radio i {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
}
.radio label.on i {
  background: #3e465d;
  border-radius: 50%;
}
.radio input {
  display: none;
}
#dia1 .row {
  text-align: right;
  margin-right: 72px;
}
#dia1 .row span {
  margin-right: 30px;
}
#dia1 .radio {
  margin-top: 30px;
  margin-right: 183px;
}
input {
  background: 0 0;
  outline: 0;
  border: 0;
}
.lottery {
  margin: 44px auto;
  text-align: center;
}
.rank-li {
  margin: 9px 0 0 40px;
  text-align: left;
  position: relative;
}
.rank-li img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  vertical-align: middle;
}
.rank-li .name {
  width: 210px;
  margin-right: 20px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;
}
#dia3 .num-img {
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: none;
  position: absolute;
  top: -15px;
  left: -13px;
}
#dia3 .rank-wp2 {
  margin: 10px 20px;
  height: 458px;
  overflow-y: auto;
  overflow-x: hidden;
}
#dia3 ul {
  margin-top: 18px;
}
#dia3 .text {
  text-align: center;
}
#dia4 .table-tit {
  margin: 28px auto 0;
}
#dia4 table {
  text-align: center;
  width: 490px;
  margin: 0 auto;
}
#dia4 table td {
  width: 50%;
  vertical-align: bottom;
  padding-bottom: 4px;
}
#dia4 table tr {
  border-bottom: 1px solid #b9b9b9;
  height: 46px;
}
.page {
  text-align: center;
  margin: 40px auto 20px;
  line-height: 30px;
}
.page a {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
}
.page span {
  width: 60px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #454545;
  vertical-align: middle;
}
.page span.on {
  color: #744b66;
}
#dia5 .num-img {
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: none;
  position: absolute;
  top: -14px;
  left: -3px;
}
#dia5 .rank-li {
  margin: 9px 0 0 0;
  float: left;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  white-space: nowrap;
}
#dia5 .rank-li .name {
  margin-left: 10px;
}
#dia5 .con {
  padding-bottom: 20px;
}
#dia5 .con-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 590px;
  margin: 10px 16px 0 0;
}
#dia5 .tit {
  margin: 16px 62px;
  position: relative;
}
#dia5 .tit .qr {
  color: #744b66;
  font-size: 22px;
}
#dia5 .tit i {
  position: absolute;
  left: -13px;
  top: 8px;
}
#dia5 .tit-qr {
  text-align: center;
}
#dia5 .text-p {
  margin: 0 50px 0 64px;
  width: 400px;
  background-color: transparent;
}
#dia5 .qr-wp {
  text-align: center;
}
#dia5 .qr-wp #qrcode {
  width: 122px;
  height: 122px;
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  margin-right: 33px;
}
#dia5 .qr-wp p {
  margin-bottom: 10px;
}
#dia5 .qr-wp .clo {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
}
#dia5 .rank-ul {
  width: 496px;
  margin: 0 0 10px 40px;
}
#dia5 .rank-ul li {
  width: 50%;
}
#dia5 .name {
  width: 150px;
  vertical-align: middle;
}
#dia5 .icon-more {
  margin: 0 auto;
}
.nick img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  vertical-align: middle;
}
#dia6 .row2 {
  text-align: center;
  margin: 30px 80px 24px;
  line-height: 66px;
}
#dia6 .row2 > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 22px;
}
#dia6 .name {
  font-size: 14px;
}
#dia6 .qr-code .qr {
  color: #744b66;
  font-size: 20px;
  font-weight: 700;
}
#dia6 .text-p {
  margin: 0 76px;
  text-align: justify;
}
#dia6 .btn-group {
  text-align: center;
  margin: 38px auto;
}
#dia6 .btn-bg-2,
#dia6 .btn-nobang {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 14px;
  color: #fff;
}
@keyframes shakeIn {
  0% {
    transform: translate3d(0, 0, 1px);
  }
  50% {
    transform: translate3d(-20%, 0, 1px);
  }
  100% {
    transform: translate3d(0, 0, 1px);
  }
}
@-webkit-keyframes shakeIn {
  0% {
    transform: translate3d(0, 0, 1px);
  }
  50% {
    transform: translate3d(-20%, 0, 1px);
  }
  100% {
    transform: translate3d(0, 0, 1px);
  }
}
.iocn-more2 {
  margin: 20px auto;
}
#canvas0 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
}
.diaShare {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.diaShare > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.share-guide {
  position: absolute;
  top: 40px;
  right: 22px;
}
#dia7 {
  visibility: visible;
  position: fixed;
  z-index: 9991;
  left: 50%;
  top: 50%;
  margin-top: -107px;
  margin-left: -282.5px;
}
#dia7 p {
  text-align: center;
  padding-top: 30px;
}
#dia7 .btn-group {
  text-align: center;
  margin: 30px auto;
}
#dia7 .btn-group a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.part-2 {
  width: 1200px;
  margin: 120px auto 0;
  position: relative;
}
.news-bg {
  float: right;
  position: relative;
}
.news-more {
  position: absolute;
  top: 11px;
  right: 22px;
  color: #3e465d;
}
.news-more i {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -3px;
  margin-left: 10px;
}
.new-ul {
  margin: 48px 30px 0;
  color: #3e465d;
}
.new-ul li {
  margin: 0 0 29px;
}
.new-ul li a {
  color: #3e465d;
}
.new-ul .clo-1 {
  display: inline-block;
  vertical-align: middle;
  vertical-align: bottom;
  font-weight: 700;
  font-size: 16px;
}
.new-ul .clo-1 i {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  margin-right: 9px;
}
.new-ul .clo-2 {
  display: inline-block;
  vertical-align: middle;
  vertical-align: bottom;
  position: relative;
  margin-left: 12px;
}
.new-ul .clo-2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
}
.parallax {
  position: absolute;
  bottom: -218px;
  width: 100%;
  height: 887px;
  left: 50%;
  margin-left: -360px;
  pointer-events: none;
}
.parallax .layer {
  width: 608px;
  height: 887px;
  margin: 0 auto;
}
.parallax .cover {
  width: 100%;
  height: 935px;
  background: url(../image/cover.png) no-repeat center bottom;
  position: absolute;
  bottom: 0;
  left: -170px;
  display: none;
}
.girl {
  position: absolute;
  top: 0;
}
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #627fc6;
  border-radius: 6px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.canvas1 {
  position: absolute;
  top: 2123px;
  left: 50%;
  margin-left: -960px;
}
.tg-sns-link {
  float: none !important;
}
.mine-rank {
  font-size: 16px;
  margin-left: 44px;
}
.mine-rank b {
  color: #744b66;
  font-size: 22px;
  margin-left: 4px;
}
.radio input:checked + i {
  background-image: url(../image/sprite-img1.png);
  background-size: 1334px 1227px;
  background-repeat: no-repeat;
}
.tab-tit {
  display: block;
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 2;
  margin: 15px auto 0;
}
.tab-tit a {
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  margin: 0 5px;
}
.tab-cont {
  width: 1200px;
  margin: 40px auto 20px;
  position: relative;
  background: url(../image/tab-cont-bg.jpg) repeat-y center top #fff;
  padding: 47px 0;
  box-sizing: border-box;
}
.tab-cont > img {
  position: absolute;
  left: -218px;
  bottom: -106px;
}
.tab-cont:before {
  display: block;
  content: "";
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
}
.tab-cont:after {
  display: block;
  content: "";
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tab-cont > h3 {
  text-align: center;
  font-size: 34px;
  color: #129e7f;
  font-weight: 400;
}
.tab-cont > h3:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.tab-cont > h3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.tab-cont > h3 > i {
  display: inline-block;
  vertical-align: middle;
}
.tab-cont .btn-sczggz {
  position: absolute;
  left: 65px;
  top: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
}
.tab-cont .msg {
  color: #3e465d;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  display: none;
}
.tab-cont .msg.open {
  display: block;
}
.tab-cont .msg span {
  color: #744b66;
}
.tab-cont .time-box {
  display: none;
  position: relative;
  height: 128px;
  width: 1143px;
  margin: 10px auto 0;
  overflow: hidden;
}
.tab-cont .time-box.open {
  display: block;
}
.tab-cont .time-box:before {
  display: block;
  content: "";
  position: absolute;
  left: 98px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.tab-cont .time-box .time-t {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #31b8be;
  float: left;
  width: 94px;
  margin: 37px 0 0 0;
  line-height: 1.3;
}
.tab-cont .time-bar {
  font-size: 0;
  text-align: center;
  float: left;
  height: 128px;
  line-height: 128px;
  position: relative;
  z-index: 3;
}
.tab-cont .time-bar li {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  color: #3e465d;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1.2;
  margin: 0 -1px;
  width: 133px;
}
.tab-cont .time-bar li > i {
  display: block;
  content: "";
  margin: 8px auto;
}
.tab-cont .time-bar li.ing {
  position: relative;
  z-index: 2;
}
.tab-cont .time-bar li.ing > i {
  margin: 3px auto;
}
.tab-cont .time-bar li.ing .name {
  font-weight: 700;
}
.tab-cont .time-bar li.coming .name {
  font-weight: 700;
}
.lottery-bar {
  position: relative;
  margin: 0 auto 28px;
  width: 877px;
  height: 359px;
}
.lottery-bar .item {
  position: absolute;
  width: 164px;
  height: 191px;
  z-index: 2;
}
.lottery-bar .item.item-1 {
  left: 0;
  top: 0;
}
.lottery-bar .item.item-2 {
  left: 187px;
  top: 0;
}
.lottery-bar .item.item-3 {
  left: 537px;
  top: 0;
}
.lottery-bar .item.item-4 {
  left: 703px;
  top: 17px;
}
.lottery-bar .item.item-5 {
  left: 616px;
  top: 170px;
}
.lottery-bar .item.item-6 {
  left: 806px;
  top: 264px;
}
.lottery-bar .item.item-7 {
  left: 537px;
  top: 264px;
}
.lottery-bar .item.item-8 {
  left: 272px;
  top: 194px;
}
.lottery-bar .item.item-9 {
  left: 0;
  top: 264px;
}
.lottery-bar .item.item-10 {
  left: 0;
  top: 133px;
}
.lottery-bar .item .tips {
  display: none;
  position: absolute;
  width: 230px;
  left: -40px;
  top: -20%;
}
.lottery-bar .item .tips span {
  display: block;
  position: relative;
  padding: 10px;
  border: 1px solid #4be8ef;
  font-size: 14px;
  color: #3e465d;
  line-height: 16px;
}
.lottery-bar .item .tips span i {
  color: #31b8be;
  display: block;
  line-height: 20px;
  font-style: normal;
}
.lottery-bar .item.tipsbtn:hover {
  cursor: pointer;
}
.lottery-bar .item.tipsbtn:hover .tips {
  display: block;
}
.tips {
  display: block;
  background: #fff;
  border: 2px solid #31b8be;
  font-size: 12px;
  color: #3e465d;
  line-height: 1.4;
  padding: 1px;
}
.tips span {
  display: block;
  position: relative;
  padding: 10px;
  border: 1px solid #4be8ef;
}
.lottery-txt {
  text-align: center;
  font-size: 16px;
  color: #3e465d;
}
.lottery-txt span {
  color: #31b8be;
  font-weight: 700;
}
.lottery-txt a {
  display: inline-block;
  vertical-align: middle;
  line-height: 39px;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 100;
}
.g-cont2 .btn-dhgz {
  text-align: center;
  position: absolute;
  right: 66px;
  top: 48px;
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 48px;
}
.g-cont2 .item-list {
  text-align: center;
  font-size: 0;
  margin-top: 40px;
}
.g-cont2 .item-list li {
  margin: 0 4px 20px;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  position: relative;
}
.g-cont2 .item-list li.m-top .item-bg .name {
  margin-top: 7px;
}
.g-cont2 .item-list li .item-bg {
  position: relative;
}
.g-cont2 .item-list li .item-bg:before {
  display: block;
  content: "";
  height: 1px;
}
.g-cont2 .item-list li .item-bg img {
  display: block;
  margin: 5px auto 0;
  object-fit: none;
  width: 188px;
  height: 88px;
}
.g-cont2 .item-list li .item-bg .name {
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
}
.g-cont2 .item-list li .item-bg.tipsbtn:hover {
  cursor: pointer;
}
.g-cont2 .item-list li .item-bg.tipsbtn:hover .tips {
  display: block;
}
.g-cont2 .item-list li .tips {
  width: 260px;
  display: none;
  position: absolute;
  left: -9%;
  bottom: 124px;
  z-index: 2;
  text-align: left;
}
.g-cont2 .item-list li .tips span.title {
  border: none;
  padding: 0;
  font-size: 14px;
  color: #31b8be;
  margin-bottom: 0;
}
.g-cont2 .item-list li .btns {
  display: block;
  text-align: center;
  font-size: 0;
  margin-top: 9px;
}
.g-cont2 .item-list li .btns a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
}
.g-cont2 .item-list li .btns a.gray {
  color: #444d66;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
}
.g-cont2 .item-list li .info {
  color: #444d66;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
.g-cont2 .item-list li .info span {
  color: #86627a;
}
.g-cont2 .item-list li.shortage .item-bg:after {
  display: block;
  content: "补货中";
  text-align: center;
  line-height: 52px;
  position: absolute;
  left: 50%;
  margin-left: -92px;
  color: #fff;
  font-size: 18px;
  top: 22px;
}
.g-cont3 .table-bar {
  width: 845px;
  margin: 60px auto 0;
}
.g-cont3 .table-bar .page-bar {
  text-align: center;
  margin-top: 30px;
}
.g-cont3 .table-bar .page-bar span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #444d66;
  margin: 0 16px;
}
.g-cont3 .table-bar .page-bar a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #444d66;
  line-height: 30px;
}
.g-cont3 table {
  width: 100%;
  margin: 0 auto;
}
.g-cont3 table tr.special td {
  background: #f2e3c0;
}
.g-cont3 table th {
  background: #4ca7f1;
  font-size: 20px;
  text-align: center;
  color: #fff;
  height: 74px;
  font-weight: 400;
}
.g-cont3 table th + th {
  border-left: 1px solid #cbced3;
}
.g-cont3 table td {
  text-align: center;
  color: #444d66;
  font-size: 16px;
  height: 62px;
  border: 1px solid #cbced3;
}
.g-cont3 table td .btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  position: relative;
}
.g-cont3 table td .btn.btn-style2 {
  line-height: 48px;
  color: #fff;
}
.g-cont3 table td .btn.btn-style3 {
  line-height: 48px;
  color: #fff;
}
.g-cont3 table td .btn.tipsbtn:hover .tips {
  display: block;
}
.g-cont3 table td .tips {
  display: none;
  position: absolute;
  left: 80%;
  bottom: 80%;
  width: 160px;
  text-align: left;
}
.title-top {
  margin: 45px auto 0;
  position: relative;
}
.dialog {
  position: relative;
}
.dialog::before {
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  top: 20px;
  background: url(../image/hua.png) no-repeat;
  width: 563px;
  height: 100%;
  background-size: 100%;
  pointer-events: none;
}
.now_dia .con {
  padding: 20px 0;
}
.diaExchangeRule .con h3,
.diaFirstRule .con h3 {
  margin-bottom: 30px;
}
.diaExchangeRule li,
.diaFirstRule li {
  width: 416px;
  margin: 0 auto 8px;
  text-indent: -1.5em;
  font-size: 14px;
  text-align: left;
  color: #262626;
  line-height: 1.5;
}
.diaExchangeRule li:before,
.diaFirstRule li:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-right: 1em;
}
.diaExchangeRule li span,
.diaFirstRule li span {
  font-size: 16px;
  color: #744b66;
  font-weight: 700;
}
.diaExchangeRule li {
  width: 450px;
}
.diaAddress .con h3 {
  margin-bottom: 30px;
}
.diaAddress .form {
  width: 420px;
  margin: 0 auto;
}
.diaAddress .form td {
  padding: 7px 0;
}
.diaAddress .form .tit {
  text-align: right;
}
.diaAddress .form .cont {
  text-align: left;
  padding-left: 20px;
}
.diaAddress .btns {
  text-align: center;
  font-size: 0;
  margin-top: 36px;
}
.diaAddress .btns a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 48px;
}
.floor-bottom {
  position: relative;
}
.dia_comm_alert {
  display: none;
  width: 565px;
  box-sizing: border-box;
  padding: 40px 50px;
  background: url(../image/dia-commtips-c.jpg) repeat-y center top;
  color: #323232;
  font-size: 18px;
  text-align: center;
}
.dia_comm_alert:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
}
.dia_comm_alert:after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
}
.dia_comm_alert h3 {
  color: #323232;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px;
}
.device {
  width: 1200px;
  height: 625px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;
}
.device .box {
  width: 1210px;
  background: url(../image/scroll-border.png) no-repeat;
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0;
}
.device .pagination .swiper-pagination-switch {
  background: #000;
  width: 30px;
  height: 5px;
  border-radius: 0;
}
.device .pagination .swiper-pagination-switch.swiper-active-switch {
  background: #fff;
}

.device .arrow-left {
  position: absolute;
  right: 470px;
  top: 100%;
  margin-top: -54px;
}
.device .arrow-right {
  position: absolute;
  right: 430px;
  top: 100%;
  margin-top: -54px;
}
.swiper-container {
  height: 545px;
  width: 1200px;
  margin: 0 auto;
}
.swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}

.pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 111;
}
.pagination .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  margin: 0 3px;
  cursor: pointer;
}
.pagination .swiper-pagination-switch {
  background: #000;
  width: 30px;
  height: 5px;
  border-radius: 0;
}
.pagination .swiper-pagination-switch.swiper-active-switch {
  background: #fff;
}
.swiper-active-switch {
  background: #fff;
}
.text-groups {
  z-index: 50;
  position: absolute;
  right: 0;
  bottom: 10px;
  background: #33bbc1;
  width: 410px;
  height: 225px;
}
.text-groups .text-wrap {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.text-groups .text-wrap p {
  text-indent: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
}
.lottery-bar.grey .lotterycontent_slight,
.lottery-bar.grey .lotterycontent_start {
  animation: none !important;
  -webkit-animation: none !important;
  pointer-events: none;
}
.lotterycontent_slight,
.lotterycontent_start {
  width: 164px !important;
  height: 191px !important;
  animation: none !important;
  -webkit-animation: none !important;
  outline: 0;
}
.lotterycontent_start {
  -webkit-animation: btn-scale 4s linear infinite !important;
  animation: btn-scale 4s linear infinite !important;
}
@-webkit-keyframes btn-scale {
  0% {
    opacity: 1;
    filter: brightness(100%);
  }
  43.75% {
    opacity: 0.9;
    filter: brightness(80%);
  }
  62.5% {
    opacity: 1;
    filter: brightness(100%);
  }
  81.25% {
    opacity: 0.9;
    filter: brightness(120%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}
@keyframes btn-scale {
  0% {
    opacity: 1;
    filter: brightness(100%);
  }
  43.75% {
    opacity: 0.9;
    filter: brightness(80%);
  }
  62.5% {
    opacity: 1;
    filter: brightness(100%);
  }
  81.25% {
    opacity: 0.9;
    filter: brightness(120%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}
.lotterycontent_disable {
  background: 0 0 !important;
}
.dia1 {
  position: relative;
}
.dia1 .dia-con {
  display: table;
  background: 0 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
.dia1 .dia-con p {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  color: #31b8be;
  text-align: center;
}
.dia1 > a {
  display: block;
  right: -20px;
  top: -20px;
}

.line_box {
  width: 1144px;
  margin-left: 35px;
  height: 104px;
}
.line_box p {
  font-weight: bold;
  text-align: center;
  width: 82px;
  font-size: 20px;
  color: #31b8be;
  float: left;
  padding-top: 20px;
}
.list_line {
  background: url(../image/line.png) no-repeat 50% 50%;
  width: 1044px;
  float: right;
}
.list_line li {
  float: left;
  width: 130px;
  font-size: 14px;
  color: #3e465d;
  text-align: center;
}
.list_line li span {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
